/node_modules/
/.pnpm-store/
/dist/
/target/
/src-tauri/target/
/src-tauri/gen/
/.cache/artistic-git/
/src-tauri/resources/git-dist/
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
/.idea/
.DS_Store
*.log
.env
.env.*
!.env.example
